:root {
    --verde-floresta: #355E3B;
    --bege-suave: #F4EFE6;
    --marrom-terra: #8B5A2B;
    --cinza-pedra: #A9A9A9;
    --azul-sereno: #6AAFE6;
    --bege-acinzentado: #D2CABD;
    --marrom-escuro: #4E342E;
    --verde-musgo: #7B9265;
    --bordo-profundo: #5C2C2D;
    --marrom-avermelhado: #955539;
    --bege-aconchegante: #E0C9A1;
    --verde-escuro: #2D4739;
  }
  